modmap:
  - name: Global
    remap:
      CapsLock: Ctrl_L

      # Henkan: [Ctrl_L, Space]
      # Muhenkan: 無変換を押した際に、IME OFFする設定は、fctix 入力メソッドをオフにする の項目のキーを無変換にする事で代用
      # Muhenkan:
      #  launch: ["fcitx5-remote", "-c"]

keymap:
  - name: Global # Optional
#    exact_match: true
    remap:
      Grave: Esc # 半角/全角 to Esc

  - name: Obsidian
    application:
      only: [ obsidian ]
    remap:
      C-s: C-f

  - name: Chromium
    application:
      only: [ chromium-browser ]
    remap:
      # https://github.com/xremap/xremap/blob/bb8d3460d1578548978a7d3ae39ea462b04e5b9e/example/config.yml#L78
      C-s: C-f

  - name: Emacs Binding
    # refer https://github.com/xremap/xremap/blob/master/example/emacs.yml
    application:
      not: [Emacs, emacs, org.wezfurlong.wezterm] # X11: Emacs, niri: emacs
    remap:
      # Emacs basic
      C-b: { with_mark: left }
      C-f: { with_mark: right }
      C-p: { with_mark: up }
      C-n: { with_mark: down }

      # Beginning/End of line
      C-a: { with_mark: home }
      C-e: { with_mark: end }

      # Newline
      #C-o: [enter, left] # don't use this, because obsidian's C-o open quick switch is useful

      # Copy
      C-y: [C-v, { set_mark: false }]

      # Page up/down
      # M in Emacs Page up/down M-v, M->, M-< becomes the keystroke v,>,<
      # after pressing and releasing Esc.  "Release" can't be configured with xremap, so don't define it.
      # C-v: { with_mark: pagedown } # Not assign,paste becomes invalid

      # Beginning/End of file
      Alt-Shift-comma: { with_mark: C-home }
      Alt-Shift-dot: { with_mark: C-end }

      # Delete
      C-d: [delete, { set_mark: false }]

      # Kill line
      C-k: [Shift-end, C-x, { set_mark: false }]
