modmap:
  - name: Global
    remap:
      CapsLock: Ctrl_L
      Henkan: [Ctrl_L, Space]
      # Muhenkan: 無変換を押した際に、IME OFFする設定は、fctix 入力メソッドをオフにする の項目のキーを無変換にする事で代用

keymap:
  - name: Global # Optional
#    exact_match: true
    remap:
      Grave: Esc # 半角/全角 to Esc
#      Ctrl_L-Shift_L-3: SYSRQ # Print Screen Full, Work!
#      LeftMeta-Shift_L-3: SYSRQ # Print Screen Full, Work!
      LeftMeta-Shift_L-4: LeftAlt-SYSRQ # Print Screen Active Window, Don't work! Nothing happen.
#      LeftMeta-Shift_L-4: [LeftAlt,SYSRQ] # Print Screen Active Window, Don't work! Print FULL Screen
  - name: Emacs Binding
    application:
      not: [Emacs, emacs, org.wezfurlong.wezterm] # X11: Emacs, niri: emacs
    remap:
      # Emacs basic
      C-b: left
      C-f: right
      C-p: up
      C-n: down

      # Emacs lines
      C-a: home
      C-e: end
      # C-k: [Shift-end, backspace]

      C-d: delete
